$color-text : #88888e;
.wrapper{
    border: 1px solid var(--var-border);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &__header{
        &-info{
            &-name{
                font-size: 1.7rem;
                font-weight: 600;
            }
            &-img{
                border-radius: 50%;
                border: 2px solid #0f6fec;
            }
            &-icon,
            &-timePost,
            &-jobAt{
                color: $color-text ;
            }
            &-icon{
                margin-left: 10px;
                color: $color-text ;
            }
            &-timePost{
                margin-left: 5px;
                font-size: 1.3rem;
                color: $color-text ;
            }
            &-jobAt{
                color: $color-text;
                &-box{
                    padding: 2px 5px;
                    background: #2e2e2e;
                    border-radius: 5px;
                }
            }
        }
    }
    &__content{
        &-des{
            color: white;
            height: auto;
        }
        &-imgPost{
            max-height: 400px;
            background: #555251;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                height: 350px;
            }
        }
        &-interactWith{
            border-top: 1px solid var(--var-border);
            border-bottom: 1px solid var(--var-border);
            &-Likes,
            &-Comments,
            &-Share{
                font-size: 1.3rem;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(50 49 49 / 50%);
                }
                &-quantity{
                    padding-left: 5px;
                }
            }
            &-Comments{
                color: $color-text ;
                margin-left: 20px;
            }
            &-Share{
                color: $color-text ;
            }
        }
        &-seeAll{
            color: $color-text ;
        }
    }
}