
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid var(--var-border);
    &__content{
        padding: 10px 2%;
    }
    &__MenuItems{
        font-size: 1.4rem;
        font-weight: 600;
        padding: 5px 10px;
        &-icon{
            margin-left: 5px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__Controls{
        margin: 0px 5px;
        width: 40px;
        height: 40px;
        &-icon{
            padding: 11px; 
            border: 1px solid #191a1f;
            background-color: #191a1f;
            border-radius: 50%;
        }
        &-User{
            margin: 0px 5px;
            &-img{
                border-radius: 50%;
            }
            :hover{
                cursor: pointer;
            }
        }
    }
}