@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'react-calendar/dist/Calendar.css';
//@import "simplebar/src/simplebar.css";
:root { 
    --var-background : #191a1f;
    --var-font-family: 'Inter', sans-serif;
    --var-border: #343434;
    --var-bg-components: #191a1f;
    --var-primary : #0468eb;
    --var-color-text : #e4e6eb;
    --var-secondary : #3a3b3c;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    overflow: hidden;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: var(--var-font-family);
    height: 100%;
    background-color: var(--var-background);
}
#root{
    height: 100%;
}
.App{
    height: 100%;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
    z-index: 10000;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #dfdede;
}
// CUS TOM TOAST IFY
.Toastify__toast-theme--light {
    background-color:  white;
    color: var(--var-primary);
    font-family: var(--var-font-family);
    font-size: 1.4rem;
}
.Toastify__progress-bar {
    background-color:  var(--var-primary);
}
.Toastify__progress-bar--rtl {
    background-color:  var(--var-primary);
}
/** colored notifications share the same progress bar color **/
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    background-color:  var(--var-primary);
}
// REACT CALENDAR
.react-calendar{
    width: 250px !important;
    font-size: 1.3rem !important;
}
.react-calendar__tile--active{
    background-color: var(--var-primary) !important;
    color: white !important;
}
// MENU
.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0px !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    border-radius: 0px !important;
}