.button{
    width: 100%;
    background: #3a3b3c !important;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
}
.btn-saveAccount{
    width: 20%;
    background: var(--var-primary) !important;
    color: white;
}