.wrapper{
    &__left{
        margin: 10px 0;
        &-info{
            border: 1px solid var(--var-border);
            border-radius: 5px;
            padding: 15px;
            &-title{
                font-size: 2rem;
                font-weight: 600;
            }
            &-introduce{
                &-des{
                    padding: 10px 0;
                }
                & button {
                    width: 100%;
                    background: #3a3b3c;
                    padding: 10px 0;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.3rem;
                }
            }
        }
    }
    &__right{
        margin: 10px 20px;
    }
}