$color-text: #e4e6eb;
.wrapper{
    &__left{
        margin: 10px 0;
        &-imagesUser,
        &-info,
        &-friendsUser{
            border: 1px solid var(--var-border);
            border-radius: 5px;
            padding: 15px;
            &-title{
                font-size: 2rem;
                font-weight: 600;
            }
        }
        &-info{
            &-introduce{
                &-des{
                    padding: 10px 0;
                }
            }
            &-list{
                font-size: 1.4rem;
                font-weight: 500;
                color: $color-text;
                & li{
                    padding: 15px 0;
                }
                &-itemIcon{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &-imagesUser,
        &-friendsUser{
           & a{
            font-size: 1.4rem;
            color: var(--var-primary);
            font-weight: 500;
           }
           &-list{
                border-radius: 5px;
                & img {
                    border-radius: 5px;
                    border: 1px solid var(--var-border);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                & h3{
                    color: #88888e;
                    text-align: center;
                    font-size: 1.3rem;
                    padding: 10px;
                }
           }
        }
        &-friendsUser{
            &-quantityFriends{
                font-size: 1.3rem;
            }
            &-list{
                & img {
                    border-radius: 10px;
                }
                &-itemName{
                    font-size: 1.2rem;
                    min-height: 2.5em;
                    margin-top: 10px;
                    font-weight: 600;
                }
            }
        }
    }
    &__right{
        margin: 10px 20px;
        &-createPost{
            margin: 10px 0;
            padding: 10px;
            border: 1px solid var(--var-border);
            border-radius: 5px;
        }
    }
}