.container{
    &__content{
        position: relative;
        &-strengthMeter{
            width: 100%;
            height: 7px;
            border: 1px solid #ccc;
            position: relative;
            border-radius: 2px;
        }
        &-strengthLevel{
            height: 100%;
            width: 0;
            transition: width 0.3s ease;
        }
        &-strengthLevelLow{
            height: 100%;
            width: 25% !important;
            background-color: red !important;
        }
        &-strengthLevelMedium{
            height: 100%;
            width: 50% !important;
            background-color: yellow !important;
        }
        &-strengthLevelHeight{
            height: 100%;
            width: 100% !important;
            background-color: green !important;
        }
        &-log{
            font-size: 1.3rem;
            color: black;
        }
        &-low,
        &-medium,
        &-high{
            font-size: 1.3rem;
            font-weight: 500; 
        }
        &-low{
            color: red;
        }
        &-medium{
            color: orange;
        }
        &-high{
            color: green;
        }
        &-ipFullName{
            &-Surname{
                background-color: white !important;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 10px 0;
                font-size: 1.3rem;
                color: black;
            }
        }
        &-ipEmail,
        &-ipPassword{
            & input{
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin: 10px 0;
                font-size: 1.3rem;
                background-color: white;
                color: black;
                &:focus{
                    outline-color: #0f6fec !important;
                }
            }
        }
        &-btn{
            position: relative;
            z-index: 100;
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid var(--var-background) !important;
            border-radius: 5px;
            background: var(--var-bg-components) !important;
            color: white;
            font-weight: 600;
            &:hover{
                transition: all 0.3s ease-in-out;
                background-color: #0f6fec !important;
                border-color: #0f6fec !important;
            }
        }
    }
    &__process{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        width: 100%;
        background: rgb(253 249 249 / 30%);
        height: 100%;
    }
}
.cssload-loader {
	width: 30px;
	height: 30px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 560px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 0.8s linear infinite;
		-o-animation: cssload-rotate-one 0.8s linear infinite;
		-ms-animation: cssload-rotate-one 0.8s linear infinite;
		-webkit-animation: cssload-rotate-one 0.8s linear infinite;
		-moz-animation: cssload-rotate-one 0.8s linear infinite;
	border-bottom: 2px solid rgb(0,71,142);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 0.8s linear infinite;
		-o-animation: cssload-rotate-two 0.8s linear infinite;
		-ms-animation: cssload-rotate-two 0.8s linear infinite;
		-webkit-animation: cssload-rotate-two 0.8s linear infinite;
		-moz-animation: cssload-rotate-two 0.8s linear infinite;
	border-right: 2px solid rgb(85,115,224);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 0.8s linear infinite;
		-o-animation: cssload-rotate-three 0.8s linear infinite;
		-ms-animation: cssload-rotate-three 0.8s linear infinite;
		-webkit-animation: cssload-rotate-three 0.8s linear infinite;
		-moz-animation: cssload-rotate-three 0.8s linear infinite;
	border-top: 2px solid rgb(255,255,255);
}







@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}