.wrapper{
    margin: 0 20px;
    &__createPost{
        padding: 20px;
        border: 1px solid var(--var-border);
        border-radius: 5px;
    }
    &__listPost{
        & h1{
            padding: 20px;
            background: #141519;
            border-radius: 5px;
            border: 1px solid var(--var-border);
            margin-top: 20px;
            text-align: center;
            color: #88888e;
            font-weight: 600;
        }
    }
}