.wrapper{
    margin: 0 20px;
    &__createStories{
        width: 160px ;
        max-width: 160px ;
        height: 250px ;
        border-radius: 10px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        & div{
            background-color: #3c3e44;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        & img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &-icon{
            position: absolute;
            left: 0;
            right: 0;
            top: -10px;
            margin: auto;
            font-size: 1.7rem;
            color: white;
            background: var(--toastify-color-info);
            padding: 5px 7px;
            border-radius: 50%;
            box-shadow: rgb(17 112 236 / 60%) 0px 5px 15px;
        }
    }
    &__createPost{
        padding: 20px;
        border: 1px solid var(--var-border);
        border-radius: 5px;
    }
    &__listPost{
        & h1{
            padding: 20px;
            background: #141519;
            border-radius: 5px;
            border: 1px solid var(--var-border);
            margin-top: 20px;
            text-align: center;
            color: #88888e;
            font-weight: 600;
        }
    }
}