.form{
    position: relative;
    min-height: 400px;
    max-height: 450px;
    width: 230px;
    background-color: var(--var-secondary);
    border-radius: 10px;
    border: 1px solid var(--var-border);
    &__imgUser{
        width: 100%;
        height: 60%;
        padding: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }
    &__content{
        padding: 10px;
        color: white;
        & h2{
            font-size: 1.7rem;
            font-weight: 600;
        }
        &-mutualFriends{
            color: #ccc;
            font-size: 1.3rem;
        }
        &-btnConfirm,
        &-btnCancel{
            padding: 7px;
            border-radius: 5px;
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 10px;
            text-align: center;
            &:hover{
                cursor: pointer;
                background-color: var(--var-background);
            }
        }
        &-resultSend{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 7px;
            margin: 10px;
            border-radius: 5px;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--var-secondary);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &-btnConfirm{
            background-color: var(--var-primary);
            &:hover{
                background-color: #185db8;
            }
        }
    }
}