.wrapper{
    width: 100%;
    height: 50px;
    padding: 20px 10px;
    margin: 15px 0;
    &-boxImg{
        width: 17%;
    }
    &-title{
        width: 67%;
        padding-left: 10px;
    }
    &-icon{
        width: 16%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: #141e2e;
        color: #0e6eeb;
        border-radius: 50%;
    }
    &-img{
        border-radius: 50%;
    }
    &-name{
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5;
    }
    &-mutualFriends{
        font-size: 1.2rem;
        color: #6e888e;
        font-weight: 500;
    }
    &-add,
    &-check{
        width: 15px;
    }
    &-check{
        width: 16%;
        color: white;
        background: var(--var-primary);
    }
}