
.wrapper{
    width: 290px;
    height: 100%;
    border-radius: 5px;
    position: fixed;
    left: 0;
    top: 61px;
    overflow-y: auto;
    border-radius: 5px;
    &::-webkit-scrollbar
    {
        display: none;
    }
    &:hover::-webkit-scrollbar
    {
        display: block;
        background-color: #141519;
    }
    &__profileUser{
        &-background{
            background: url('https://c4.wallpaperflare.com/wallpaper/16/671/726/lionel-messi-football-barcelona-hd-wallpaper-preview.jpg') center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 100px;
            position: relative;
            &-avatar{
                position: absolute;
                top: 50%;
                left: 38%;
                border: 4px solid #0f6fec;
            }
        }
        &-info{
            margin-top: 50px;
            &-job,
            &-des{
                color: #88888e;
                font-size: 1.3rem;
                font-weight: 500;
                margin-top: 5px;
            }
            &-des{
                padding: 20px;
            }
        }
        &-followSocial{
            padding-bottom: 10px;
            border-bottom: 1px solid var(--var-border);
            &-Post,
            &-Followers,
            &-Following{
                padding: 5px 10px;
            }
            &-Post,
            &-Followers{
                border-right: 1px solid var(--var-border);
            }
        }
        &-page{
            margin: 5px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--var-border);
            &-item{
                padding: 10px 20px;
                &:hover{
                    cursor: pointer;
                    background-color: var(--var-border);
                    border-radius: 5px;
                }
            }
        }
        &-view{
            height: 75px;
            &-profile{
                text-align: center;
                color: #0f6fec;
                font-weight: 500;
            }
        }
    }
}