$color-text : #88888e;
.wrapper{
    margin-top: 20px;
    &__img{
        width: 10%;
        &-imgUser{
            border-radius: 50%;
        }
    }
    &__addComment{
        position: relative;
        width: 90%;
        & input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--var-border);
        }
        &-icon{
            position: absolute;
            top: 13px;
            font-size: 1.7rem;
            right: 15px;
            color: $color-text;
        }
    }
    &__replyComment{
        width: 90%;
        &-content{
            padding: 10px;
            border: 1px solid var(--var-border);
            border-radius: 5px;
            &-des{
                line-height: 2;
                font-size: 1.4rem;
                color: $color-text;
            }
            &-timeAt{
                color: $color-text;
                font-size: 1.3rem;
            }
        }
        &-menu{
            color: $color-text;
            font-size: 1.5rem;
            margin-top: 10px;
        }
    }
}