$color-text : #e4e6eb;
.wrapper{
    &__header{
        border-bottom: 1px solid var(--var-border) ;
        & h1{
            color: $color-text;
        }
        &-icon{
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            margin: auto;
            font-size: 2.5rem;
            padding: 8px 12px;
            border-radius: 50%;
            background: #3a3b3c;
            color: $color-text;
            &:hover{
                cursor: pointer;
                background-color: #535353;
            }
        }
    }
    &__content{
        height: 386px;
    }
    &__footer{
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 10px;
    }
}